{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="column ">
    <div class="block">
        <div class="block">
            <h3 class="title is-2">Change password here</h3>
        </div>
        <div class="block">
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td>                
                            <button class="button is-success is-fullwidth is-medium mt-5"
                            type="submit">Change password
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

</div>
{% endblock content %}